# Arquivos de Segredo (API Keys)
# NUNCA suba este arquivo!
.env
*.env

# Ambientes Virtuais do Python
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.pyc

# Arquivos do macOS / Windows
.DS_Store
Thumbs.db

# Ignora o PDF grande do RAG
knowledge/storytellingcomdados.pdf